/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 * 
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attched to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

 :root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
  --vp-code-block-bg: rgb(36, 39, 45);

  --vp-code-copy-code-bg: rgb(32, 33, 39);
  --vp-code-copy-code-border-color: #2e2e32;
  --vp-code-copy-code-hover-bg: #1b1b1f;
  --vp-code-copy-code-hover-border-color: #2e2e32;
  --vp-code-copy-code-active-text: rgba(235, 235, 245, 0.6);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

.VPImage.logo {
  width: 12pt;
}

body {
  padding-bottom: 200pt;
}

span.lang {
  display: none;
}

img.invert {
  filter: invert(90%);
}

html.dark img.invert {
  filter: invert(10%);
}

/* syntax highlighting */

pre {
  background: var(--vp-code-block-bg) !important;
  border-radius: 4pt !important;
}

pre code {
  color: rgba(255, 255, 255, 0.874) !important;
}

.hljs-comment {
  opacity: 0.6;
}

.hljs-string {
  color: #a7d884;
}

.hljs-meta {
  color: #68edf2;
}

.hljs-built_in, .hljs-keyword {
  color: #c678dd;
}

.lmql-fct, .highlight .n {
  color: #E5C07B;
}

.lmql-comment, .highlight .c1 {
  color: #5c6370;
}

.hljs-placeholder {
  color: #68edf2;
}

html.dark .promptdown.promptdown-compiled, .promptdown.promptdown-compiled {
  opacity: 1.0;
  line-height: 1.0 !important;
  padding: 10pt !important;

  /* transform: scale(0.98); */
  transform-origin: top center;
  background: transparent !important;
}

pre.promptdown>p {
  margin: 0;
}

pre.promptdown>h1 {
  margin: 0;
  line-height: 1.0em;
  text-transform: uppercase;
  margin-bottom: 5pt;
  opacity: 0.6;
}

.language-promptdown button.copy {
  display: none;
}

.language-promptdown .promptdown button.promptdown-button-replay {
  top: 8pt;
  right: 8pt;
}

.language-promptdown {
  background: none !important;
  border-radius: 0 !important;
  /* transform: scale(0.98); */
  transform-origin: top center;
  text-align: left;
}

h1 {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 10pt;
}

span.badge {
  background-color: #007bff;
  border-radius: 2pt;
  transform: scale(0.6);
  transform-origin: center left;
  display: inline-block;
  line-height: 1.2em;
  padding: 2pt 4pt;
  position: relative;
  top: 0pt;
  /* margin-left: 5pt; */
  color: white;
}

h1 span.badge {
  transform: scale(0.45);
  margin-left: 3pt;
}

div.subtitle {
  font-size: 14pt;
  color: grey;
  font-weight: 500;
  margin-bottom: 25pt;
  margin-top: -5pt;
}

.VPDoc:not(.has-sidebar):not(.has-aside) h1 {
  font-size: 2.5rem;
}
.VPDoc:not(.has-sidebar):not(.has-aside) .content {
  max-width: 830pt !important; /* <-- update your values */
}

.VPDoc:not(.has-sidebar):not(.has-aside) .container {
  max-width: 830pt !important;
}

p strong {
  font-weight: 1200;
  text-decoration: underline;
}

:is(.vp-external-link-icon, .vp-doc a[href*='://'], .vp-doc a[target='_blank']):not(.no-icon)::after {
  display: none;
}

span.date {
  font-size: 0.8em;
  color: grey;
  display: block;
}